<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HZSV1MTEDP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-HZSV1MTEDP');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/first.svg">
  <link rel="stylesheet" href="/styles.css">
  <title>♟️Chess Opening Analyzer</title>

</head>

<body>
  <div class="container">
    <div class="chess-icon">♟️</div>
    <h1>Chess Opening Analyzer</h1>

    <p class="subtitle">Discover which openings give you the most trouble</p>

    <% if (locals.error) { %>
      <div class="error">
        <%= error %>
      </div>
      <% } %>

        <form action="/analyze" method="POST">
          <div>
            <label for="username">Chess.com Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" value="" required>
            <p class="example">Example: any-userName23</p>
          </div>

          <button type="submit">Analyze My Games 🔍</button>
        </form>

        <div class="famous-section">
          <p class="famous-text">
            Try analyzing famous players:
          </p>

          <div class="famous-buttons">

            <form action="/analyze" method="POST">
              <input type="hidden" name="username" value="hikaru">
              <button class="player-btn">Hikaru Nakamura</button>
            </form>

            <form action="/analyze" method="POST">
              <input type="hidden" name="username" value="magnuscarlsen">
              <button class="player-btn">Magnus Carlsen</button>
            </form>

            <form action="/analyze" method="POST">
              <input type="hidden" name="username" value="gothamchess">
              <button class="player-btn">GothamChess</button>
            </form>

          </div>

        </div>
  </div>

    <!-- Footer -->
  <footer>
    <div id="footer">
      <span style="color: aqua;">Built by Kamil</span>

      <a href="https://www.instagram.com/iconically_kamil/" target="_blank" class="social">
        <img src="/images/instagram.png" alt="Instagram" class="icon" height="15px" width=" 15px">
        Instagram
      </a>

       <a href="https://github.com/Ymil23" target="_blank">
        <img src="/images/github.png" alt="Instagram" class="icon" height="15px" width=" 15px">
        GitHub
      </a>
    </div>
  </footer>


</body>

</html>